body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}


/* Style the links inside the navigation bar */
.topnav a {
  float:right;
  color: #333333;
  text-align: center;
  padding: 11px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.half-width{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;

}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: dimgray;
    padding-bottom: 40px;
}
.tomato{
    color: tomato;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(tomato);
    background-color: tomato;
    padding: 15px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 400;
    background-image:  url(Images/download.png) color(black);

}
.lastest{
    text-align: center;
    width:50%;
    margin-right: 50%;
    padding-left: 30%;
    padding-top: 75%;
    padding-bottom: 50%;
}
.black{
    color: #333333;

}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 80%;
    background-color: white;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon,tomato);
    border-image-slice: 1;
}
.project{
   
    background-image: url(Images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

/* Add a color to the active/current link 
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}*/

/* Right-aligned section inside the top navigation */
